.navbar{
    position: fixed !important;
    top: 0 !important;
}

.my-container {
    max-width: 1300px;
    margin: 1rem auto 1rem auto;
}

.input-bordered {
    border-color: #00000052 !important;
}

.input:focus, .input:focus-within {
    box-shadow: none !important;
    border-color: #ff9d40 !important;
    outline-style: solid !important;
    outline-width: 1px !important;
    outline-offset: 0px !important;
    outline-color: #ff9d40 !important;
}

button{
    transition: 0.3s ease-in-out all !important;
}

.btn-postad:hover {
    background-color: #ff9d40 !important;
    color: white !important;
    border-color: #ff9d40 !important;
}

button:hover{
    color: currentColor !important;
    border-color: currentColor !important;
    transform: translateY(5px) !important;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: #ff9d40;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
  }

  #snackbar.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }

  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }